/* ----------------------------------------- */
/*  Accordion
/* ----------------------------------------- */
.accordion-group {
  margin-bottom: 18px
}
.accordion .accordion-group {
  margin-bottom: 2px;
}

/* ----------------------------------------- */
/*  Divider
/* ----------------------------------------- */
.pluginninja_divider {
  margin: 27px 0 18px;
  border-top-color: #e5e5e5
}

/* ----------------------------------------- */
/*  Column Grid
/* ----------------------------------------- */
.row-fluid {
  width: 100%;
  margin-bottom: 18px;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
}
.row-fluid:after {
  clear: both;
}

.row-fluid > [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 28px;
  margin-left: 2.564102564%;
  *margin-left: 2.510911074638298%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
.row-fluid > [class*="span"]:first-child { margin-left: 0; }
.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.row-fluid .span11 {
  width: 91.45299145300001%;
  *width: 91.3997999636383%;
}
.row-fluid .span10 {
  width: 82.905982906%;
  *width: 82.8527914166383%;
}
.row-fluid .span9 {
  width: 74.358974359%;
  *width: 74.30578286963829%;
}
.row-fluid .span8 {
  width: 65.81196581200001%;
  *width: 65.7587743226383%;
}
.row-fluid .span7 {
  width: 57.264957265%;
  *width: 57.2117657756383%;
}
.row-fluid .span6 {
  width: 48.717948718%;
  *width: 48.6647572286383%;
}
.row-fluid .span5 {
  width: 40.170940171000005%;
  *width: 40.117748681638304%;
}
.row-fluid .span4 {
  width: 31.623931624%;
  *width: 31.5707401346383%;
}
.row-fluid .span3 {
  width: 23.076923077%;
  *width: 23.0237315876383%;
}
.row-fluid .span2 {
  width: 14.529914530000001%;
  *width: 14.4767230406383%;
}
.row-fluid .span1 {
  width: 5.982905983%;
  *width: 5.929714493638298%;
}


/* Mobile
------------------- */
@media (max-width: 767px) {

  .row-fluid [class*="span"] {
    display: block;
    float: none;
    width: auto;
    margin-left: 0;
  }

}